extends layout

block content
  h1= title
  form(method='post', action='/predict_number')
    - for (var i = 0; i < 10; i++)
      img(src='/static/Example/example_'+i+'.JPG')
      - if(numlist.includes(i))
          input.checkbox(id="numlist", type='checkbox', name="numlist", value=i, checked="checked")
      - else
          input.checkbox(id="numlist", type='checkbox', name="numlist", value=i)
    hr
    button.submit(type='submit') submit
  - if(result)
    - for (var i = 0; i < result.length; i++)
       p The number in example_#{numlist[i]}.JPG is: #{result[i]}
